common --color=yes

common --registry=https://bcr.bazel.build/
common --registry=https://raw.githubusercontent.com/envoyproxy/bazel-registry/5db29c09de17218d24f58c665be38208284754d8

build --@rules_rust//rust/settings:extra_exec_rustc_flags=-Clink-self-contained=no

# Common flags for Clang (shared between all clang variants)
common --linkopt=-fuse-ld=lld
common --cxxopt=-Wno-nullability-completeness

# Required by Envoy and its deps when consumed via bzlmod.
common --noincompatible_disallow_empty_glob
common --noincompatible_disallow_ctx_resolve_tools
common --legacy_external_runfiles
build --incompatible_strict_action_env
build --experimental_cc_static_library

build --experimental_repository_downloader_retries=2

# Protobuf currently requires Java 11 toolchains (see protocolbuffers/protobuf#20760).
build --java_runtime_version=remotejdk_11
build --tool_java_runtime_version=remotejdk_11
build --java_language_version=11
build --tool_java_language_version=11
build --extra_toolchains=@envoy//bazel:envoy_java_toolchain_definition

# Silence log spam.
build --copt=-DABSL_MIN_LOG_LEVEL=4
build --copt=-Wno-deprecated-declarations
build --per_file_copt=external/c-ares.*@-Wno-unused-function

# Prevent rules_jvm_external from trying to set up an Android toolchain.
common --repo_env=ANDROID_HOME=

# Googletest uses absl for backtrace support in this dependency graph.
build --define absl=1

# Prefer prebuilt protoc while using toolchain resolution.
common --@protobuf//bazel/toolchains:prefer_prebuilt_protoc
common --incompatible_enable_proto_toolchain_resolution

# Wasm is excluded by this example's extensions_build_config.
common --@proxy-wasm-cpp-host//bazel:engine=disabled

common --@rules_python//python/config_settings:bootstrap_impl=script
build --incompatible_default_to_explicit_init_py

try-import %workspace%/user.bazelrc
try-import %workspace%/repo.bazelrc
