common --color=yes
common --legacy_external_runfiles

common --registry=https://bcr.bazel.build/
common --registry=https://raw.githubusercontent.com/envoyproxy/bazel-registry/07050c5e9f805a6d60bdad5e5bc30ca478fa844e

common --@rules_python//python/config_settings:bootstrap_impl=script

common --config=clang

build --incompatible_default_to_explicit_init_py

# libc++ - default for clang
common:libc++ --action_env=CXXFLAGS=-stdlib=libc++
common:libc++ --action_env=LDFLAGS="-stdlib=libc++ -fuse-ld=lld"
common:libc++ --action_env=BAZEL_CXXOPTS=-stdlib=libc++
common:libc++ --action_env=BAZEL_LINKLIBS=-l%:libc++.a:-l%:libc++abi.a
common:libc++ --action_env=BAZEL_LINKOPTS=-lm:-pthread
common:libc++ --define force_libcpp=enabled
common:libc++ --@envoy//bazel:libc++=true

# Common flags for Clang (shared between all clang variants)
common:clang-common --linkopt=-fuse-ld=lld
common:clang-common --cxxopt=-Wno-nullability-completeness
common:clang-common --@toolchains_llvm//toolchain/config:compiler-rt=false
common:clang-common --@toolchains_llvm//toolchain/config:libunwind=false

# Clang with libc++ (default)
common:clang --config=clang-common
common:clang --config=libc++
common:clang --host_platform=@clang_platform
common:clang --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

try-import %workspace%/user.bazelrc
try-import %workspace%/repo.bazelrc
