common --color=yes
common --legacy_external_runfiles

common --registry=https://bcr.bazel.build/
common --registry=https://raw.githubusercontent.com/envoyproxy/bazel-registry/5db29c09de17218d24f58c665be38208284754d8

common --@rules_python//python/config_settings:bootstrap_impl=script
build --incompatible_default_to_explicit_init_py

try-import %workspace%/user.bazelrc
try-import %workspace%/repo.bazelrc
