name: Docs

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
    - main

concurrency:
  group: >-
    ${{ github.event.inputs.head_ref || github.run_id }}


jobs:
  docs:
    runs-on: ubuntu-24.04
    steps:
    - uses: envoyproxy/toolshed/actions/bind-mounts@598eacce15ab5f208102a2fd5669292868002701  # v0.4.0
      with:
        mounts: |
          - src: /mnt/docker
            target: /var/lib/docker
            rm: true
            command-pre: sudo systemctl stop docker
            command-post: sudo systemctl start docker
          - src: /mnt/workspace
            target: GITHUB_WORKSPACE
            chown: "runner:runner"
          - src: /mnt/runner-cache
            target: /home/runner/.cache
            chown: "runner:runner"
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      with:
        repository: envoyproxy/envoy
        path: envoy
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      with:
        path: examples
    - run: |
        export UID
        echo 'load("@envoy_examples//bazel:env.bzl", "envoy_examples_env")' >> ../envoy/WORKSPACE
        echo 'envoy_examples_env()' >> ../envoy/WORKSPACE
        docker compose run docs
      working-directory: examples
      env:
        BAZEL_BUILD_EXTRA_OPTIONS: >-
          --override_repository=envoy_examples=../examples
          --config=ci
          --@rules_python//python/config_settings:bootstrap_impl=script
        BUILDKIT_PROGRESS: quiet
        COMPOSE_BAKE: true
        DOCKER_BUILDKIT: 1
