name: Lint

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
    - main

concurrency:
  group: >-
    ${{ github.event.inputs.head_ref || github.run_id }}


jobs:
  lint:
    runs-on: ubuntu-24.04
    if: github.repository_owner == 'envoyproxy'
    steps:
    - uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938  # v4.2.0
    - uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3  # v5.2.0
      with:
        python-version: "3.12"
    - run: |
        pip install -r ./.github/workflows/requirements.txt
        envoy.code.check . -c glint python_flake8 shellcheck yamllint -x single-page-app/_github-clusters.yml
